<h1>Audit for Register <%= @register.id%></h1>
<p>
  <b>Id:</b>
  <%= @register.id %>
</p>

<p>
  <b>Creditor:</b>
  <%= @register.creditor_id %>
</p>

<p>
  <b>Debtor:</b>
  <%= @register.debtor_id %>
</p>

<p>
  <b>Credit extended:</b>
  <%= @register.credit_extended %>
</p>

<p>
  <b>Audit:</b>
  <%= @audit %>
</p>


<p>
  <b>Updated at:</b>
  <%= @register.updated_at %>
</p>

<h2>Expenses With Creditor/ Debter Combination</h2>

<table class="zebra-striped">
  <tr>
    <th>You_owe_me Id</th>
    <th>Expense Id</th>
    <th>Created At</th>
    <th>Amount</th>
    <th>Creditor</th>
    <th>Debtor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @you_owe_me.each do |you_owe_me| %>
  <tr>
    <td><%= you_owe_me.id %></td>
    <td><%= you_owe_me.expense_id %></td>
    <td><%= you_owe_me.created_at %></td>
    <td><%= you_owe_me.amount %></td>
    <td><%= you_owe_me.creditor_id %></td>
    <td><%= you_owe_me.debtor_id %></td>
    <td><%= link_to 'Show', you_owe_me %></td>
    <td><%= link_to 'Edit', edit_you_owe_me_path(you_owe_me) %></td>
    <td><%= link_to 'Destroy', you_owe_me, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<h2>Payments With Receiver/Payer Combination</h2>

<table class="zebra-striped">
  <tr>
    <th>Payment Id</th>
    <th>Created At</th>
    <th>Amount</th>
    <th>Payer</th>
    <th>Receiver</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @payment.each do |payment| %>
  <tr>
    <td><%= payment.id %></td>
    <td><%= payment.created_at %></td>
    <td><%= payment.total_amount %></td>
    <td><%= payment.user_id %></td>
    <td><%= payment.receiver_id %></td>
    <td><%= link_to 'Show', payment%></td>
    <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
    <td><%= link_to 'Destroy', payment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
