<h1>Listing registers</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Creditor</th>
    <th>Debtor</th>
    <th>Credit extended</th>
    <th>Updated at</th>
    <th></th>
  </tr>

<% @registers.each do |register| %>
  <tr>
    <td><%= register.id %></td>
    <td><%= register.creditor_id %></td>
    <td><%= register.debtor_id %></td>
    <td><%= register.credit_extended %></td>
    <td><%= register.updated_at %></td>
    <td><%= link_to 'Show', register %></td>
  </tr>
<% end %>
</table>
<br />

