<div class="receipt_show">
  <h2> <%= "Expense Between #{@register.creditor_id} and #{@register.debtor_id}" %> </h2>

  <p>
    <b>Id:</b>
    <%= @register.id %>
  </p>

  <p>
    <b>Creditor:</b>
    <%= @register.creditor_id %>
  </p>

  <p>
    <b>Debtor:</b>
    <%= @register.debtor_id %>
  </p>

  <p>
    <b>Credit extended:</b>
    <%= @register.credit_extended %>
  </p>

  <p>
    <b>Updated at:</b>
    <%= @register.updated_at %>
  </p>

  <div class="row-fluid">
    <%= link_to 'Audit', audit_register_path(@register), :class => "btn btn-warning pull-right" %>
  </div>

</div>




