<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @person.id %>
</p>

<p>
  <b>First name:</b>
  <%= @person.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @person.last_name %>
</p>

<p>
  <b>Email address:</b>
  <%= @person.email_address %>
</p>

<p>
  <b>Ceated at:</b>
  <%= @person.ceated_at %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
