<h1>Listing you_owe_mes</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Expense</th>
    <th>Created at</th>
    <th>Amount</th>
    <th>Creditor</th>
    <th>Debtor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @you_owe_mes.each do |you_owe_me| %>
  <tr>
    <td><%= you_owe_me.id %></td>
    <td><%= you_owe_me.expense_id %></td>
    <td><%= you_owe_me.created_at %></td>
    <td><%= you_owe_me.amount %></td>
    <td><%= you_owe_me.creditor_id %></td>
    <td><%= you_owe_me.debtor_id %></td>
    <td><%= link_to 'Show', you_owe_me %></td>
    <td><%= link_to 'Edit', edit_you_owe_me_path(you_owe_me) %></td>
    <td><%= link_to 'Destroy', you_owe_me, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New You owe me', new_you_owe_me_path %>
