<div class="receipt_show">
  <h2> You Owe Me - Debit </h2>
  <p>
    <b>Id:</b>
    <%= @you_owe_me.id %>
  </p>

  <p>
    <b>Expense:</b>
    <%= @you_owe_me.expense_id %>
  </p>

  <p>
    <b>Created at:</b>
    <%= @you_owe_me.created_at %>
  </p>

  <p>
    <b>Amount:</b>
    <%= @you_owe_me.amount %>
  </p>

  <p>
    <b>Creditor:</b>
    <%= @you_owe_me.creditor_id %>
  </p>

  <p>
    <b>Debtor:</b>
    <%= @you_owe_me.debtor_id %>
  </p>
</div>

