<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @you_owe_me.id %>
</p>

<p>
  <b>Expense:</b>
  <%= @you_owe_me.expense_id %>
</p>

<p>
  <b>Created at:</b>
  <%= @you_owe_me.created_at %>
</p>

<p>
  <b>Amount:</b>
  <%= number_to_currency(@you_owe_me.amount) %>
</p>

<p>
  <b>Creditor:</b>
  <%= @you_owe_me.creditor_id %>
</p>

<p>
  <b>Debtor:</b>
  <%= @you_owe_me.debtor_id %>
</p>


<%= link_to 'Edit', edit_you_owe_me_path(@you_owe_me) %> |
<%= link_to 'Back', you_owe_mes_path %>
