<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @i_paid_you.id %>
</p>

<p>
  <b>Payment:</b>
  <%= @i_paid_you.payment_id %>
</p>

<p>
  <b>Created at:</b>
  <%= @i_paid_you.created_at %>
</p>

<p>
  <b>Amount:</b>
  <%= @i_paid_you.amount %>
</p>

<p>
  <b>Payer:</b>
  <%= @i_paid_you.payer_id %>
</p>

<p>
  <b>Receiver:</b>
  <%= @i_paid_you.receiver_id %>
</p>


<%= link_to 'Edit', edit_i_paid_you_path(@i_paid_you) %> |
<%= link_to 'Back', i_paid_yous_path %>
