<h1>Summary</h1>

<h2>Credit that You've Extended</h2>

<table>
  <tr>
    <th>Id</th>
    <th>Creditor</th>
    <th>Debtor</th>
    <th>Credit extended</th>
    <th>Updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @owes_user.each do |register| %>
  <tr>
    <td><%= register.id %></td>
    <td><%= register.creditor_id %></td>
    <td><%= register.debtor_id %></td>
    <td><%= register.credit_extended %></td>
    <td><%= register.updated_at %></td>
    <td><%= link_to 'Show', register %></td>
    <td><%= link_to 'Edit', edit_register_path(register) %></td>
    <td><%= link_to 'Destroy', register, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<h2>Debt that You've Incurred</h2>

<table>
  <tr>
    <th>Id</th>
    <th>Creditor</th>
    <th>Debtor</th>
    <th>Credit extended</th>
    <th>Updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_owes.each do |register| %>
  <tr>
    <td><%= register.id %></td>
    <td><%= register.creditor_id %></td>
    <td><%= register.debtor_id %></td>
    <td><%= register.credit_extended %></td>
    <td><%= register.updated_at %></td>
    <td><%= link_to 'Show', register %></td>
    <td><%= link_to 'Edit', edit_register_path(register) %></td>
    <td><%= link_to 'Destroy', register, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
