<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :id -%>
  <%= f.hidden_field :owner_id, :value => current_user.id -%>
  <%= f.hidden_field :created_at -%>

  <div class="form-stacked">
    <div class="field">
      <%= f.label :date_paid %><br />
      <%= f.datetime_select :date_paid %>
    </div>

    <div class="field">
      <%= f.label :total_amount %><br />
      <%= f.number_field :total_amount %>
    </div>
    <div class="field">
      <%= f.label :memo %><br />
      <%= f.text_area :memo,:rows => 3 %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
