<div class="fields">  
  <%= f.hidden_field :id -%>
  <%= f.hidden_field :payment_id, :value => @payment.id -%>
  <%= f.hidden_field :payer_id, :value => current_user.id -%>
  <%= f.hidden_field :created_at -%>
  <%= f.label :receiver_id, "Who Was Paid" %>
  <%= f.text_field :receiver_id %>
  <%= f.label :amount %>
  <%= f.text_field :amount %>
</div>