
<h1>Payments that You've Created</h1>

<table class="table table-bordered dotmatrix-striped">
  <thead>
      <tr>
        <th>Id</th>
        <th>Owner</th>
        <th>Receiver</th>
        <th>Date paid</th>
        <th>Created at</th>
        <th>Total amount</th>
        <th>Memo</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
  </thead>
  <tbody>
    <% @previous_payments.each do |payment| %>
      <tr>
        <td><%= payment.id %></td>
        <td><%= User.find(payment.user_id).full_name %></td>
        <td><%= User.find(payment.receiver_id).full_name %></td>
        <td><%= payment.date_paid.to_date.to_formatted_s(:long) %></td>
        <td><%= payment.created_at.to_date.to_formatted_s(:long)  %></td>
        <td><%= payment.total_amount %></td>
        <td><%= payment.memo %></td>
        <td><%= link_to 'Show', payment %></td>
        <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
        <td><%= link_to 'Destroy', payment, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Payment', new_payment_path %>
