<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @payment.id %>
</p>

<p>
  <b>Owner:</b>
  <%= @payment.user_id %>
</p>

<p>
  <b>Receiver:</b>
  <%= @payment.i_paid_you.receiver_id %>
</p>

<p>
  <b>TESTING I PAID YOU AMOUNT TESTING:</b>
  <%= number_to_currency(@payment.i_paid_you.amount) %>
</p>

<p>
  <b>Date paid:</b>
  <%= @payment.date_paid %>
</p>

<p>
  <b>Created at:</b>
  <%= @payment.created_at %>
</p>

<p>
  <b>Total amount:</b>
  <%= number_to_currency(@payment.total_amount) %>
</p>

<p>
  <b>Memo:</b>
  <%= @payment.memo %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
