<h1>Listing Expenses</h1>
<table class="table table-bordered dotmatrix-striped">
  <thead class="dotmatrix-striped">
    <tr>
      <th>Id</th>
      <th>Expense name</th>
      <th>Owner</th>
      <th>Date incurred</th>
      <th>Created at</th>
      <th>Total amount</th>
      <th>Memo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.id %></td>
        <td><%= expense.expense_name %></td>
        <td><%= expense.user_id %></td>
        <td><%= expense.date_incurred %></td>
        <td><%= expense.created_at %></td>
        <td><%= expense.total_amount %></td>
        <td><%= expense.memo %></td>
        <td><%= link_to tag("i", :class => 'icon-eye-open'), expense %></td>
        <td><%= edit_decider(expense) %></td>
        <td><%= destroy_decider(expense) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Expense', new_expense_path, :class => "btn btn-success" %>
